.combo-box{
-fx-background-radius: 15Px;
-fx-background-color: #6483a1;
-fx-text-fill: white

}
.spinner{
-fx-radius: 40Px;
 -fx-base: #6483a1;
}

.button{
    -fx-background-radius: 10Px;
    -fx-background-color: #AFCFEA;
    -fx-text-fill: white
}
.list-view  {
-fx-background-color:#d0d4db;
}


.list-view .list-cell {
-fx-selection-bar-non-focused: green;
-fx-selection-bar:#AFCFEA;
-fx-text-fill: black;
-fx-cell-size: 36;
}

.list-view .list-cell .detected {
-fx-background-color: red;
-fx-text-fill: black;
}

